*.suo
.NET Framework/AutoAttacher/Process1/obj
.NET Framework/AutoAttacher/Process1/bin
.NET Framework/AutoAttacher/Process2/obj
.NET Framework/AutoAttacher/Process2/bin
.NET Core/AutoAttacher/Process1/obj
.NET Core/AutoAttacher/Process1/bin
.NET Core/AutoAttacher/Process2/obj
.NET Core/AutoAttacher/Process2/bin
